.course
{
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}
.course p
{
    margin: 0px;
    border: 1px solid gainsboro;
    padding: 16px;
    text-align: center;
}
