.spicy
{
    font-weight: bold;
}

#receipt, #menuBoard
{
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-gap: 4px;
}
#receipt
{
    border: 2px dotted gainsboro;
}
#receipt div, #menuBoard div
{
    padding-left: 8px;
}

#menuBoard ol
{
    border-right: 1px solid gainsboro;
    padding-left: 0px;
    list-style: none;
}
#menuBoard ol li
{
    padding-top: 8px;
}


@media( max-width: 800px )
{
    #receipt
    {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #menuBoard
    {
        display: block;
    }
    #menuBoard ol
    {
        border-right: none;
        border-bottom: 1px solid gainsboro;
        padding-bottom: 32px;
    }
}
