body
{
    margin: 128px;
    margin-top: 64px;
}
h1
{
    text-align: center;
    color: red;
    margin: 32px;
    border-bottom: 1px solid gainsboro;
    padding: 16px;
}
h2
{
    color: sienna;
}
h4
{
    color: rosybrown
}
p
{
    line-height: 32px;
}
.level
{
    font-weight: bold;
}
#menu
{
    display: grid;
    grid-template-columns: 256px 1fr;
}
#menu ol
{
    margin-top: 0px;
    border-right: 1px solid gainsboro;
    padding-left: 0px;
}
#menu ol li
{
    list-style: none;
    padding: 4px;
}
#menu div
{
    padding-left: 16px;
}
@media( max-width: 800px )
{
    #menu
    {
        display: block;
    }
    #menu ol
    {
        border-right: none;
        border-bottom: 1px solid gainsboro;
        padding-bottom: 32px;
    }
}