body
{
    margin: 128px;
    margin-top: 64px;
    color: white;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("tbk.png");
    background-repeat: no-repeat;
    background-position: 512px 512px;
}
h1
{
    margin: 32px;
    border-bottom: 1px solid gainsboro;
    padding: 16px;
    text-align: center;
    color: red;
}
h2
{
    color: sienna;
}
h4
{
    color: rosybrown
}
p
{
    line-height: 32px;
}

.spicy
{
    font-weight: bold;
}

#receipt, #menuBoard
{
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-gap: 4px;
}
#receipt
{
    border: 2px dotted gainsboro;
}
#receipt div, #menuBoard div
{
    padding-left: 8px;
}
#menuBoard ol
{
    border-right: 1px solid gainsboro;
    padding-left: 0px;
    list-style: none;
}
#menuBoard ol li
{
    padding-top: 8px;
}


@media( max-width: 800px )
{
    body
    {
        margin: 128px;
        margin-top: 64px;
        color: white;
        background-color: black;
        background-image: none;
    }
    #receipt
    {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #menuBoard
    {
        display: block;
    }
    #menuBoard ol
    {
        border-right: none;
        border-bottom: 1px solid gainsboro;
        padding-bottom: 32px;
    }
}
